@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr-Medium.eot');
	src: local('☺'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Обнуление */
* {
    padding: 0 ;
    margin: 0;
    border: 0 ;
    box-sizing: border-box;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,a:active {
    outline: none;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400 ;
}
html,
body {
	height: 100%;
	background-color: #ffffff;
	color: #000000;
	font-size: 18px;
	font-family: HelveticaNeueCyr, sans-serif;
}

/* Стили */

::-webkit-scrollbar {
	width: 0;
  }
.wrapper {
	height: 100%;
	border: #000000 2px solid;
}
.page {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}
.page__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.header {
	display: flex;
	height: 54px;
}
.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 29px;
}
.header__logo {
	font-size: 22px;
	color: #000000;
}
.header__lang {
	display: flex;
	justify-content: space-between;
	width: 66px;
	height: 29px;
}
.header__lang img {
	max-height: 100%;
}
.header__ico {
	display: flex;
	width: 54px;
}
.header__ico img {
	max-width: 100%;
}
.section {
	display: flex;
	flex: 1 1 auto;
	border-bottom: solid 2px #000000;
	border-top: solid 2px #000000;
	overflow: hidden;
	margin-bottom: -2px;
}
.footer {
	height: 54px;
}
.footer__body {
	display: flex;
	padding: 13px 11px;
	align-items: center;
	justify-content: space-between;
}
.footer__left {
	display: flex;
}
.footer__ico {
	height: 29px;
	margin-right: 23px;
}
.footer__ico img {
	max-height: 100%;
}

.footer__ico a:last-child {
	margin-right: 0;
}
.footer__logo {
	display: flex;
	align-items: center;
	margin-right: 38px;
}
.footer__logo>span {
	font-size: 10px;
	line-height: 1;
}
.footer__text {
	display: flex;
	align-items: center;
}
.footer__text>span {
	font-size: 10px;
	line-height: 18px;
}
.footer__right {
	display: flex;
	margin: 0 -12px;
}
.footer__btn {
	display: flex;
	align-items: center;
	padding: 0 12px;
}
.footer__btn-next {
	height: 29px;
}
.footer__btn-next img {
	max-height: 100%;
}
.footer__mail a {
	font-size: 10px;
}
.footer__toggle {
	display: inline-block;
	overflow: hidden;
}
.footer__toggle-item {
	float: left;
	display: block;
}
.footer__toggle-item input[type=radio] {
	display: none;
}
.footer__toggle-item label {
	display: inline-block;
	padding: 0px 9px;
	font-size: 12px;
	line-height: 26px;
	border: 2px solid #000000;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
.footer__toggle .item-1 label {
	border-radius: 50px 0 0 50px;
}
.footer__toggle .item-2 label {
	border-radius: 0 50px 50px 0;
	border-right: 2px solid #000000;
}
 
/* Checked */
.footer__toggle .item-1 input[type=radio]:checked + label {
	background: #000000;
	color: #ffffff;
}
.footer__toggle .item-2 input[type=radio]:checked + label {
	background: #000000;
	color: #ffffff;
}

.footer__mail a {
	color: #000000;
	text-decoration: underline;
	padding: 0 12px;
}
.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
.block__wrapper {
	display: flex;
	position: relative;
	width: 100%;
}
.block__left {
	border-right: 2px #000000 solid;
	max-width: 400px;
	padding: 26px;
	height: 100%;
	display: flex;
}
.block__left img {
	width: 100%;
	height: 100%;
}
.block__scroll {
	width: 6000px;
	top: 0px;
	display: flex;
  }

.block__info {
	display: flex;
	border-right: 2px solid #000000;
	width: 666px;
	flex: 0 1 auto;
}
.block__top {
	padding: 26px;
}
.block__top-title {
	font-size: 115px;
}
.block__top-subtitle {

}